<br>
<% if @items.size > 0 %>

  <h2>Items placed for bid</h2>
  <br>

  <div id="dashboard">
    <% @items.each do |item| %>
      <% flag = 0 
         item_user1 = ItemUser.new%>
      <% @item_users.each do |item_user| %>
        <% if item_user.item_id == item.id %>
          <% flag = 1
             item_user1 = item_user
             break %>
        <% end %>
      <% end %>
      <% if flag == 1 %>
        <%= link_to ( image_tag item.image.url(:thumb) ), edit_bid_path(item_user1), :class => 'list1' %>
      <% else %>
        <%= link_to ( image_tag item.image.url(:thumb) ), place_new_bid_path(item), :class => 'list' %>
      <% end %>
    <% end %>
  </div>

  <br><br><br>
  <%= will_paginate @items, :class => 'apple_pagination' %>
<% else %>
  <br>
  <h3>There is no item available for bidding.</h3>
  <br><br>
<% end %>